body {
    font-family: Arial, sans-serif;
}

input[type="text"], .model-select {
    width: 300px;
}

button {
    margin-left: 10px;
}

/* Chat message styling */
#chatbox {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 15px;
}

.user-message {
    margin: 3% 0;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    align-self: flex-end;
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

.system-message {
    margin: 3% 0;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 10px;
    align-self: flex-start;
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

/* Greeting and error message styling */
.greeting-message, .error-message {
    text-align: center;
    font-size: 1.1em;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
}

.greeting-message {
    background-color: #d1ecf1;
    color: #0c5460;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

.user-message i, .system-message i {
    margin-right: 5px;
}

.typing {
    color: #888;
    font-style: italic;
    margin-bottom: 10px;
}

pre {
    position: relative;
}

code {
    color: #6c757d;
    padding: 3px;
}

pre code {
    background-color: #f8f9fa;
    padding: 10px;
    display: block;
    border-radius: 5px;
    font-size: 0.9em;
    overflow-x: auto;
}

/* Container for the copy button and message */
.copy-code-div {
    background-color: #d8d3d35c;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 0;
}

/* Hover effect for the entire div */
.copy-code-div:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.model-select {
    width: 25%;
}

#user-input:disabled,
#model-type:disabled,
#send-button:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
}

#chatlist {
    display: none;
}

.chat-item {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.chat-item:hover {
    background-color: #f0f0f0;
}
